<nav class="navbar" id="bar">
  <!--<a class="nav-link" routerLink="/home" placement="right" [ngbTooltip]="tiphome">-->
  <a class="nav-link item" routerLink="/home">
    <!--<ng-template #tiphome style="color: red">Home</ng-template>-->
    <i class="material-icons">home</i>
    <span class="my-tooltip">
      Home
    </span>
  </a>
  <a class="nav-link item" routerLink="/products">
    <i class="material-icons">shopping_cart</i>
    <span class="my-tooltip">
      Shopping Cart
    </span>
  </a>
  <a class="nav-link item" routerLink="/server-rendered">
    <i class="material-icons">dns</i>
    <span class="my-tooltip">
      Server Rendered
    </span>
  </a>
</nav>
