@import "../../../styles";

#bar {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  
  height: 100%;
  width: 70px;

  background: $color-background-nav;

  border-right: solid 2px black;

  display: flex;
  flex-direction: column;
  justify-content: start;
  
  @media (max-width: $max-width-mobile) {
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    width: 100%;

    border-right: 0;
    border-bottom: solid 2px black;
  }



  .item {
    text-align: center;
    position: relative;

    i {
      padding-bottom: 15px;
      padding-top: 15px;
      color: $color-icons;
      font-size: 40px;

      @media (max-width: $max-width-mobile) {
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    .my-tooltip {
      left: $nav-width - 2px;
      top: 25px;
      position: absolute;
      white-space: nowrap;

      color: black;
      background-color: lightsteelblue;

      padding: 6px;
      border-radius: 5px;

      opacity: 0;
      transform: scale(0);
      transition: opacity .4s 0s, transform 0s .4s;
    }

    &:hover {
      i {
        color: $color-standard;
        transform: scale(1.2);
      }

      .my-tooltip {
        display: flex;

        opacity: 0.8;
        transform: scale(1);
        transition: opacity 0s 0s, transform 0s 0s;

        @media (max-width: $max-width-mobile) {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

  }
}

