<section>
  <!--<img id="title-img" src="../../../assets/Hamster-Title.jpg" alt="huge picture of a cute hamster">-->
  <div id="description">
    <h1 id="title">MegaHamster</h1>
    <p>
      Every hamster owner needs a home for their hamster!
      MegaHamster provides what you need!
    </p>
  </div>
  <div class="w-100 row">
    <app-real-estate class="col-sm-12 col-md-6 col-lg-4"
                     *ngFor="let room of (rooms | async)" [room]="room">
    </app-real-estate>
  </div>
</section>
