@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Exo:900|Quicksand:700');
@import '~material-icons/iconfont/material-icons.css';

html, body { height: 100%; }

$color-standard: cornflowerblue;
$color-background-main: #1a1e23;
$color-background-sec: #3a3e46;
$color-background-nav: #2a2e35;
$color-icons: #7a7e92;

$nav-width: 70px;

$max-width-mobile: 600px;

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background: $color-background-main;
}

h1 {
  font-family: "Exo", sans-serif;
}
